### 조건문
- 상황에 따라 실행 흐름을 다르게 하는 문법
```python
if True : 
    코드블럭
    코드블럭
elif True :
    코드블럭
else :
    코드블럭

```

- 콜론 ":" 들여쓰기 "space*4, Tab"가 매우 중요!
- 조건문 키워 : if, elif, else

In [39]:
# 실습
score = int(input("점수 입력 >>"))

if score <= 100 and score >= 90 :
    print(str(score)+"점은 A학점입니다.")
elif score >= 80 :
    print(str(score)+"점은 B학점입니다.")
elif score >= 70 :
    print(str(score)+"점은 C학점입니다.")
elif score >= 60 :
    print(str(score)+"점은 D학점입니다.")
elif score < 60:
    print(str(score)+"점은 F학점입니다.")
else :
    print("잘 못 입력하였습니다.")

점수 입력 >> 10

10점은 F학점입니다.

In [11]:
score = int(input("점수 입력 >>"))

if score <= 100 and score >=0 :
    if score>=90 :
        grade = "A"
    elif score>=80 :
        grade = "B"
    elif score>=70 :
        grade = "C"
    elif score>=60 :
        grade = "D"
    else :
        grade= "F"
    print(f"{score}점은 {grade}학점입니다.")
else :
    print("잘 못 입력하였습니다!")

점수 입력 >> -2

잘 못 입력하였습니다!

### 리스트(list)
- 파이썬에서 제공되는 자료형 중 하나
- 순서가 있는 <b>수정 가능</b>한 객체의 집합
- <b>대괄호'[]'로 작성</b>되어지며, 내부 요소는 콤마 ','로 구분지어짐

### 튜플(tuple)
- 파이썬에서 제공되는 자료형 중 하나
- 순서가 있는 <b>수정 불가능</b>한 객체의 집합
- <b>대괄호 '()'로 작성</b>되어지며, 내부 요소는 콤마 ','로 구분지어짐

In [5]:
list1 = [1, 2, '3', [1, 2, 3]]

In [7]:
list1[3][1] # 인덱싱 : 무엇인가를 가리키다!

2

In [9]:
list1[3][1:] # 슬라이싱 : 무엇인가를 잘라낼떄

[2, 3]

In [11]:
# 추가 
list1.append(4) # 맨 뒤에 값을 추가

In [13]:
list1.insert(3, 3) # 해당 위치에 값을 추가

In [15]:
list1

[1, 2, '3', 3, [1, 2, 3], 4]

#### 수정
- "지정(인덱싱, 슬라이싱)"하고 "대입"

In [17]:
list1[2] = 5

In [19]:
list1

[1, 2, 5, 3, [1, 2, 3], 4]

In [21]:
# 삭제
list1.remove(3) # 해당 값을 인덱스 순서대로 순회하며 찾으며 삭제

In [23]:
# del >>키워드<< : 인덱싱이나 슬라이싱을 수행해서 삭제
del list1[4]

In [25]:
list1

[1, 2, 5, [1, 2, 3]]

In [27]:
# 정렬, 길이확인
list2 = [9, 77, 103, 51, 15, 3]
list2

[9, 77, 103, 51, 15, 3]

In [29]:
list2.sort()

In [31]:
list2

[3, 9, 15, 51, 77, 103]

In [35]:
list2.sort(reverse = True) # reverse True 설정 시 내림차순으로 전환!

In [37]:
list2

[103, 77, 51, 15, 9, 3]

In [39]:
# 길이확인
len(list2)

6

In [43]:
tuple1 = (1, 2, "3", (1, 2, 3), [4, 5, 6])

In [45]:
tuple1

(1, 2, '3', (1, 2, 3), [4, 5, 6])

In [87]:
tuple1[2] = 1 # 튜플은 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [61]:
# 튜플 안에 있는 리스트는 수정이 가능하다!
tuple1[-1][1] = 10

In [63]:
tuple1

(1, 2, '3', (1, 2, 3), [4, 10, 6])

In [85]:
list1 = list(tuple1) # 튜플 안에 요소를 수정하고자 하는 경우, list로 형변환!

In [73]:
list1

[1, 2, '3', (1, 2, 3), [4, 10, 6]]

In [75]:
list1[2] = 3

In [77]:
list1

[1, 2, 3, (1, 2, 3), [4, 10, 6]]

In [91]:
tuple2 = (11, 77, 88, 99, 33, 22)
tuple2

(11, 77, 88, 99, 33, 22)

In [95]:
tuple2 # 튜플은 정렬 불가능! -> 수정(치환)이 일어나기 때문!

(11, 77, 88, 99, 33, 22)

In [97]:
# 치환
A = 1
B = 2

A, B

(1, 2)

In [99]:
temp = A
A = B
B = temp

A, B

(2, 1)

In [103]:
# 파이썬에서의 치환
A = 1
B = 2

A, B

(1, 2)

In [107]:
A, B = B, A

A, B

(1, 2)

### 반복문
- 프로그램 내에서 똑같은 명령을 일정 횟수만큼 반복하여 수행하도록 제어하는 명령문
```python

while 조건식 : # 반복횟수가 명확하지 않을 때!
    코드블록
    코드블록

for 지역변수 in 시퀀스 자료구조 : # 반복횟수가 명확할 때!
    코드블록
    코드블록

```
- break : 반복을 종료하고, 아래로 빠져오는 기능
- continue : 위(조건식, 다음 요소)로 올라가는 기능

In [110]:
user_input = True # 초기값 설정

while user_input : 
    user_input = bool(input("True, 공백 입력 >> "))

True, 공백 입력 >>  adsfafjlkajkjjgas
True, 공백 입력 >>

In [112]:
food_list = ["피자", "햄버거", "치킨"]
for food in food_list :
    print(food)

피자
햄버거
치킨

In [126]:
# range(시작, 끝값[, 스텝]) : 시작값부터 끝값까지 일련의 순서로 범위를 만들어내는 기능
# range([시작값, ] 끝값 [, 스텝])

for i in range(0, 5, 2) :
    print(i)

0
2
4

In [140]:
score_list = [90, 45, 70, 60 ,55]

for i in range(len(score_list)): # range(len()) : 인덱스 번호로도 for 문 활용이 가능!
    print(score_list[i])

90
45
70
60
55